services:
  db:
    image: mysql:8.0
    container_name: pixel_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: pixel2pattern
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

  backend:
    build:
      context: ./server
    container_name: pixel_backend
    env_file:
      - ./db.env
    environment:
      DB_HOST: db    
    ports:
      - "3001:3001"
    depends_on:
      - db

  frontend:
    build:
      context: ./pixel2pattern
    container_name: pixel_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db-data:
